{% extends 'layout/base.html' %}

{% block title %} đổi mật khẩu {% endblock %}
{% block container %}
<br>
<h1 class="text-center text-danger ">Đổi mật khẩu</h1>
<br>
{% if msg %}
<div class="alert alert-danger">
    <h4>{{ msg }}</h4>
</div>
{% endif %}
{% if msg_res %}
<div class="alert alert-success">
    <h4>{{ msg_res }}</h4>
</div>
{% endif %}
{% if msg_err %}
<div class="alert alert-danger">
    <h4>{{ msg_err }}</h4>
</div>
{% endif %}
<form method="post" action="{{ url_for('account_change')}}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="pass2">Mật khẩu mới</label><br/>
        <input type="password" class="=form-control" id="pass2" name="pass2" required />
    </div>
    <div class="form-group">
        <label for="pass3">Xác nhận mật khẩu mới</label><br/>
        <input type="password" class="=form-control" id="pass3" name="pass3" required />
    </div>
    <input type="submit" onclick="comparePassword()" value="Đổi mật khẩu" class="btn-danger "/>
</form>

<div style="height:250px"></div>
{% endblock %}