{% extends 'layout/base.html' %}

{% block title %} Dang ky kham benh {% endblock %}

{% block bodyy %}
<div class="container">
    <br>
{% if err_msg %}
<div class="alert alert-danger">
    <h4>{{ err_msg }}</h4>
</div>
{% endif %}
{% if res_msg %}
<div class="alert alert-success">
    <h4>{{ res_msg }}</h4>
</div>
{% endif %}
<form method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inpName">Họ và tên</label>
      <input type="text" class="form-control" id="inpName" maxlength="25" placeholder="Họ và tên" name="name" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inpCard">Số hộ chiếu / CMND / CCCD</label>
      <input type="text" class="form-control" id="inpCard" minlength="9" maxlength="12" name="idCard" required>
    </div>
  </div>
    <div class="row">
    <div class="col-md-4 col-sm-4  col-xs-12 ">
      <label for="inpDOB">Ngày sinh</label>
      <input type="date" class="form-control" id="inpDOB" name="DOB" min="1900-01-01" onfocus="this.max=new Date().toISOString().split('T')[0]" required>
    </div>
    <div class="col-md-4 col-sm-4  col-xs-12 ">
        <div class="form-group">
            <label>Giới tính</label>
            <div>
                <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="radio" name="sex" id="idmale" value="Nam" checked="True">
                    <label class="form-check-label" for="idmale">Nam</label>
                </div>
                <div class="form-check form-check-inline mb-2">
                  <input class="form-check-input" type="radio" name="sex" id="idfemale" value="Nữ">
                  <label class="form-check-label" for="idfemale">Nữ</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4  col-xs-12 ">
      <label for="inpDR">Ngày đăng ký</label>
      <input type="date" class="form-control" id="inpDR" name="date_register" onfocus="this.min=new Date().toISOString().split('T')[0]" required>
    </div>
    </div>
  <div class="form-group">
    <label for="inpAddress">Địa chỉ</label>
    <input type="text" class="form-control" id="inpAddress" placeholder="1234 Main St" maxlength="250" name="address" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inpPhone">Số điện thoại</label>
      <input type="text" class="form-control" id="inpPhone" name="numberPhone" maxlength="10" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inpEmail">Email</label>
      <input type="email" class="form-control" id="inpEmail" placeholder="Email@gmail..." name="email" maxlength="40" required>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>
</div>
<br>

{% endblock %}