<div class="jumbotron"  style="margin:0; background-color:#056eb0">
  <div class="foot">
      <ul class="ctn">
          <li><a href="#" class="fot" > <i class="fa fa-phone"></i> HOTLINE :0972351922 </a></li>
          <li><a href="#" class="fot" ><i class="fa fa-calendar"></i> ĐẶT HẸN KHÁM BỆNH</a></li>
          <li><a href="#" class="fot" ><i class="fa fa-comment"></i> CHAT VỚI BÁC SỸ - 1 BỆNH NHÂN </a></li>
      </ul>
  </div>
  <div class="flex">
    <div>
      <p class="titl" >Chia sẻ thông tin</p>
      <div class="follow">
          <a href="https://www.facebook.com/vtt162001">
              <i class="fa fa-facebook"></i>
          </a>
          <a href="https://www.facebook.com/vtt162001">
              <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/vtt162001">
              <i class="fa fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/vtt162001">
              <i class="fa fa-dribbble"></i>
          </a>
      </div>
    </div>
    <div></div>
    <div class="ff">
        <h3>Thông tin liên hệ</h3>
        <ul>
            <li>999 Xô Viết Nghệ Tĩnh,Bình Thạnh,TPHCM</li>
            <li>0972351922</a></li>
            <li>phongkhamIT01@gmail.com</li>
            <li>Từ 8h00 đến 20h00</li>
            <li>Tất cả các ngày trong tuần kể cả ngày lễ</li>
        </ul>
    </div>
  </div>
</div>